<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.interestinglythere.fixGrowlVoice</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Nice</key>
	<integer>-5</integer>
	<key>WorkingDirectory</key>
	<string>/Library/Application Support/GrowlVoice</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>fix_growlvoice.sh</string>
	</array>
	<key>ThrottleInterval</key>
	<integer>1</integer>
	<key>inetdCompatibility</key>
	<dict>
		<key>Wait</key>
		<false/>
	</dict>
	<key>Sockets</key>
	<dict>
		<key>Listener</key>
		<dict>
			<key>SockPathName</key>
			<string>/Library/Application Support/GrowlVoice/socket</string>
			<key>SockPathMode</key>
			<integer>49298</integer>
		</dict>
	</dict>
</dict>
</plist>
